.text-primary{
    color: #ff7101 !important;
}

.text-secondary{
    color: #35245c !important;
}

.authentication-bg{
    background-color: #35245c !important;
}

.btn-primary{
    color: #ff7101 !important;
}

.btn-secondary{
    background-color: #03e2b6 !important;
}

.form-group label{
    color: #35245c !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #03e2b6;
    background-color: #03e2b6;
}

.text-blank{
    color: white;
}